/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.item-list:hover a {
  @apply dark:text-cyan-400;
}

.item-list:hover #borderB {
  @apply border border-cyan-100 dark:border-gray-900;
}
.item-list #borderB {
  @apply border border-gray-200 dark:border-gray-600;
}

.toggle_3_dot {
  /* top: -0.1rem; */
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle_3_dot {
  transform: translateX(60%);
  @apply bg-cyan-400;
}

.text-card {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media screen and (max-width: 567px) {
  .text-item-list {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
